.content {
  padding: 0 40px;
  display: flex;
  flex-direction: column;
  overflow-x: auto;

  > * {
    margin-top: 0.25em;
    margin-bottom: 0.75em;
  }

  > h2, > h3 {
    margin-top: 1.0em;
    margin-bottom: 0.75em;
  }
}

.content pre {
  overflow-x: auto;
  padding: 1.25em 1.5em;
  white-space: pre;
  word-wrap: normal;
  background-color: var(--code-background-color);
  color: var(--code-color);
  font-size: .875em;
  font-family: monospace;
  border-radius: 4px;
}

.content code {
  background-color: var(--code-background-color);
  border-radius: 3px;
  color: var(--code-color);
  font-size: .875em;
  font-weight: normal;
  padding: 0.25em 0.5em;
  font-family: monospace;
}

.content pre code {
  padding: 0;
}

.content a {
  color: var(--primary-link-color);

  &:hover {
    text-decoration: underline;
  }
}

// header links should still use the primary colour
.content h1 a, .content h2 a, .content h3 a {
  color: var(--primary-header-color);

  &:hover {
    color: var(--primary-text-color-over);
    text-decoration: none;

    &::after {
      opacity: 1.0;
    }
  }

  // Set opacity to 0.0 because adjusting font-size
  // causes elements to jump when hovering.
  &::after {
    content: " 🔗";
    font-size: 0.9em;
    opacity: 0.0;
  }
}

.content blockquote {
  border-left: #e2dede 8px solid;
  margin: 0;
  background-color: var(--toc-background-color);
  padding: 0 20px;
}
