{% macro render_header() %}
{% set root_section = get_section(path="_index.md") %}
<a href="{{ root_section.permalink | safe }}">
    <div class="logo">
        <img src="{{ get_url(path=config.extra.hush_logo_path) }}" alt="logo">
        {{ config.extra.hush_logo_name }}
    </div>
</a>

{% if page.ancestors %}
<div class="breadcrumb">
    {# Skip root page, as the logo link is available #}
    {% for parent_section_name in page.ancestors | slice(start=1) %}
        {# Style main breadcrumb link differently #}
        {% if loop.first %}
            {% set breadcrumb_link_main = "breadcrumb_link_main" %}
            {% set breadcrumb_link_sub = "" %}
        {% else %}
            {% set breadcrumb_link_main = "" %}
            {% set breadcrumb_link_sub = "breadcrumb_link_sub" %}
        {% endif %}

        {% set parent_section = get_section(path=parent_section_name, metadata_only=true) %}
        <div class="breadcrumb_tab">
            <div class="breadcrumb_link_wrapper">
                <a class="breadcrumb_link {{ breadcrumb_link_main }} {{ breadcrumb_link_sub }}" href="{{ parent_section.permalink | safe }}">{{ parent_section.title }}</a>
            </div>

            {# Breadcrumb tab arrow #}
            <div class="breadcrumb_tab_end_wrapper">
                <div class="breadcrumb_tab_end breadcrumb_tab_end_top"></div>
                <div class="breadcrumb_tab_end breadcrumb_tab_end_bottom"></div>
            </div>
        </div>
    {% endfor %}

    {# final page link #}

    {% set ancestor_len = page.ancestors | length %}
    {% if ancestor_len > 1 %}
        <div class="breadcrumb_tab">
            <div class="breadcrumb_link_wrapper">
                <a class="breadcrumb_link breadcrumb_link_sub" href="{{ page.permalink | safe }}">{{ page.title }}</a>
            </div>
        </div>
    {% endif %}
</div>
{% elif section.path != "/" %} {# This is an inner section _index.md #}
<div class="breadcrumb">
    <div class="breadcrumb_tab">
        <div class="breadcrumb_link_wrapper">
            <a class="breadcrumb_link breadcrumb_link_main" href="{{ section.permalink | safe }}">{{ section.title }}</a>
        </div>
    </div>
</div>
{% endif %}
{# if page.extra.breadcrumb #}
{# endif #}

<nav>
    {% for page in root_section.pages %}
    {% if config.extra.hush_exclude_menu is not containing(page.title) %}
    <a class="nav-item subtitle-text" href="{{ page.permalink | safe }}">{{ page.title }}</a>
    {% endif %}
    {% endfor %}

    {% for subsection_path in root_section.subsections %}
    {% set subsection = get_section(path=subsection_path, metadata_only=true) %}
    <a class="nav-item subtitle-text" href="{{ subsection.permalink | safe }}">{{ subsection.title }}</a>
    {% endfor %}

    {% if config.extra.hush_extra_menu %}
        {% for menu in config.extra.hush_extra_menu %}
        <a class="nav-item subtitle-text" href="{{ menu.link | safe }}" target="_blank">{{ menu.title }}</a>
        {% endfor %}
    {% endif %}
</nav>
{% endmacro render_header %}
