{% extends "_base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ get_url(path="blog_post.css") }}">
{% endblock head %}

{% block title %}{{ page.title }} | {{ super() }} {% endblock title %}

{% block content %}
<div class="heading-text">{{ page.description }}</div>

<div id="post-info">
    <div class="date">
        <span id="publish">{{ page.date | date }}</span>
        {% if page.updated and page.updated != page.date -%}
        <span>Updated on <span id="updated">{{ page.updated | date }}</span></span>
        {% endif -%}
    </div>
    <div class="tags">
        {% for tag in page.taxonomies.tags -%}
        {% set tag_slugify = tag | slugify -%}
        <span class="tag"><span>{{ tag }}</span></span>
        {%- endfor %}
    </div>
</div>

{{ page.content | safe }}

<div class="post_nav">
{% if page.higher %}
<a class="post_nav_button" href="{{ page.higher.permalink }}">Prev &gt;</a>
{% endif %}

<!-- Empty spacer -->
<div></div>

{% if page.lower %}
<a class="post_nav_button" href="{{ page.lower.permalink }}">&lt; Next</a>
{% endif %}
</div>

{% endblock content %}
